:root {
  --main-bg-color: #212121;
  --main-font-color: #fafafa;
  --main-border-color: #757575;
  --display-bg-color: #505050;
  --buttons-equal: #0277bd;
  --buttons-equal-down: #00446b;
}

body {
  color: var(--main-font-color);
  font-weight: bold;
  font-size: 16px;
}

.container {
  background-color: var(--main-bg-color);
  width: 280px;
  height: 520px;
  border-radius: 20px;
  margin: 100px auto;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0px 0px 16px 6px black;
}

.display {
  display: flex;
  height: 30%;
  overflow: hidden;
  margin: 12px 0 12px;
  padding: 10px;
  font-size: 2em;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: var(--display-bg-color);
}

.buttons {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "clear clear delete divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
  grid-template-columns: repeat(4, 45px);
  grid-template-rows: repeat(5, 45px);
  gap: 14px;
  justify-content: center;
}

button {
  border-radius: 50%;
  color: var(--main-font-color);
  font-size: 1em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px var(--display-bg-color);
  transition: none;
}

button:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 0 2px var(--display-bg-color);
}

.equal {
  box-shadow: 0 4px var(--buttons-equal-down);
}

.equal:active {
  box-shadow: 0 2px var(--buttons-equal-down);
}

button:focus {
  outline: none;
}

.digit {
  border: 1px solid var(--main-border-color);
  background-color: var(--main-bg-color);
}

.operation {
  background-color: var(--main-border-color);
}

.clear {
  grid-area: clear;
  border-radius: 45px;
  background-color: var(--main-border-color);
}

.delete {
  grid-area: delete;
  background-color: var(--main-border-color);
}

.divide {
  grid-area: divide;
}

.dot {
  background-color: var(--main-border-color);
}

.zero {
  grid-area: zero;
  border-radius: 45px;
}

.equal {
  background-color: var(--buttons-equal);
}
